name: Sync to Hugging Face
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.CACAU_SYNC }}
        run: git push --force https://vpozza:$CACAU_SYNC@huggingface.co/spaces/vpozza/global-cocoa-market-analytics main